.card_cocktail,
.card_drink {
  align-items: center;
  width: 18vw;
  height: 22vw;
  margin: 2rem;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  border: 1px solid #dbb864;
  padding: 1vw;
  position: relative;
}

.card_cocktail::before,
.card_drink::before {
  content: '';
  position: absolute;
  top: -0.8vw;
  left: -0.8vw;
  right: -0.8vw;
  z-index: -1;
  bottom: -0.8vw;
  border: 2px solid #dbb864;
}

.card_cocktail:hover,
.card_drink:hover {
  transform: scale(1.05);
}
.all_cards {
  font-size: 2vw;
  background-image: linear-gradient(#ffbe63, #896532);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.cocktail_title,
.container,
.drink_title {
  font-size: 1vw;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: linear-gradient(to right, #ffbe63, #896532);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.container,
.drink_title {
  padding: 1vw;
}

.cocktail_title {
  padding: 0.2vw;
}

.button-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

@media (max-width: 1200px) {
  .card_cocktail,
  .card_drink {
    margin: 3vw;
  }

  .container {
    margin: auto;
  }

  .container img {
    width: 80%;
    height: 80%;
  }
  .cocktail_title,
  .drink_title {
    font-size: 1vw;
  }
}
