@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem;
}

.ring {
  position: relative;
  width: 550px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring i {
  --clr: #ffbe63;
}
.ring i:nth-child(2) {
  --clr: #ac7933;
}
.ring i:nth-child(3) {
  --clr: #896532;
}
.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #eec67d52;
  transition: 0.5s;
}
.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.login {
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.login h2 {
  font-size: 2em;
  color: #fff;
}
.login .inputBx {
  position: relative;
  width: 100%;
}

.inputBx input,
.inputBx button,
.links {
  position: relative;
  z-index: 1;
}

.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}

.login .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.login .links a {
  color: #fff;
  text-decoration: none;
}

.formAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBx input {
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 1.5rem;
  margin: 1rem;
  border: 1.5px solid #ffbe63;
  background-color: #89653223;
  color: #fcdaaa;
}

.formAuth h2 {
  font-size: 3rem;
  color: #fcdaaa;
  margin: 1rem;
  font-weight: 300;
  font-family: 'Montserrat Alternates', sans-serif;
}

.inputBx button {
  border-radius: 1rem;
  font-size: 1.5rem;
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #eec67d00;
  padding: 1rem;
  color: #fcdaaa;
  margin: 1rem;
}

.inputBx button:hover{
  background-color: #ffbe63be;
  padding: 1rem;
  color: #3d2d17;
}

.formAuth form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links p {
  text-decoration: none;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fcdaaa;
  font-weight: 200;
}

.links p:hover {
  text-decoration: underline ;
}

.sign-up .inputBx input {
  border-radius: 1rem;
  padding: 1.2rem;
  font-size: 1.5rem;
  margin: 0.5rem;
  border: 1.5px solid #ffbe63;
  background-color: #89653223;
  color: #fcdaaa;
}