.MainPage,
.popular_cocktail,
.card_cocktail,
.popular_drinks,
.card_drink {
  display: flex;
  flex-direction: column;
}

.MainPage {
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container img {
  width: 17.875rem;
  height: 25rem;
  border-radius: 2rem;
  margin: 1rem;
}

.categoryPopular {
  font-size: 2rem;
  margin: 2rem;
  color: #ffbe63;
}


.Main {
  height: 100%;
  width:  118.75rem;
  height: 800px;
  margin: 0;
  background-image: url('/public/img/main.png');
  background-size: cover;
  background-position: center;
  border-bottom: 1.5px solid #DBB864;
 }