.MainPage,
.popular_cocktail,
.card_cocktail, .popular_drinks, .card_drink {
  display: flex;
  flex-direction: column;
}

.MainPage {
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container img {
  width: 17.875rem;
  height: 25rem;
  border-radius: 2rem;
}
.container .cocktail_title, .drink_title {
  font-size: 1.5rem;
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: linear-gradient(to right, #ffbe63, #896532);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 1rem;
}

.card_cocktail, .card_drink {
  align-items: center;
  margin: 3rem;
}

.categoryPopular {
  font-size: 2rem;
  margin: 2rem;
  color: #fcb542;
}

.all_cards {
  font-size: 2.25rem;
  background-image: linear-gradient(#ffbe63, #896532);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
