.ModalWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #221707f3;
  padding: 7rem;
  border-radius: 1rem;
  z-index: 2000;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  border: 0.5px solid rgba(235, 183, 106, 0.953);
  overflow: hidden;
}


.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
