.PageModeration{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 6rem;
}

.moderationTitle {
  font-size: 2.25rem;
  background-image: linear-gradient(#ffbe63, #896532);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 0 2vw 4vw 0;
}

.PageModeration img{  
  width: 26vw;
}

.infoModeration{
  display: flex;
}