.PageModeration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.moderationTitle {
  font-size: 2.25rem;
  background-image: linear-gradient(#ffbe63, #896532);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 2rem;
}

.image-container {
  width: 30%;
}

.image-container img {
  width: 100%; /* Ширина изображения */
  height: auto;
}

.infoModeration {
  display: flex;
  justify-content: center;
}

.infoMod {
  margin: 0 2rem;
  width: 30vw;
}
.card_cocktail img {
  width: 90%;
  height: 80%;
  border-radius: 0.7vw;
  margin: 0.1rem;
}

.createRec,
.descriptionModeration h2 {
  font-size: 1.5rem;
  color: #ffe3bc;
  margin: 1rem auto;
}

.descriptionModeration p {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #ffe3bc;
}
.btn-add-cocktail,
.btn-create-select,
.btn-fix,
.btn-send {
  border-radius: 0.2rem;
  background-color: #faddb4bb;
  border: 1.5px solid #ffbe63;
  margin: 0.5rem 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem;
}
.btn-add-cocktail:hover,
.btn-create-select:hover,
.btn-fix:hover,
.btn-send:hover {
  background-color: #271c0c;
  color: #faddb4e3;
}

#barware_id,
#option,
#drink_id,
#tech_id,
#ingredient_id,
#drinks_volume {
  border-radius: 0.2rem;
  background-color: #fdd0919f;
  border: 1.5px solid #ffbe63;
  width: 70%;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
}

.formulaModeration label {
  font-size: 1rem;
  color: #896532;
}

.formulaModeration {
  border-bottom: 1px solid #ffbe63;
  margin: 0.5rem 0;
}
.add,
.edit {
  font-size: 1vw;
}


.title {
  font-size: 1rem;
  color: #fcdaaa;
}

.editProfile {
  display: flex;
  flex-direction: column;
}

.editProfile input {
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1.5px solid #ffbe63;
  background-color: #89653223;
  color: #fcdaaa;
}

.titleForm {
  font-size: 2vw;
  background-image: linear-gradient(#fcc77c, #997b50);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
