.ProfilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family:'Gatcby Two';
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: 1000; 
  pointer-events: none; 
 }

.ProfileCard {
  margin: 3rem;
  border-radius: 0.5rem;
  background-color: rgba(248, 210, 159, 0.13);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1vw solid #ffbe63;
  box-shadow: inset 0 0.5vw 1vw rgba(0, 0, 0, 0.5);
}

.ProfileCard img {
  width: 25vw;
  margin: 0 2rem 2rem 2rem;
  border-radius: 1rem;
}

.ProfileCard h1 {
  color: bisque;
  font-size: 2.1vw;
  margin: 0 0 2rem 0;
}

.prof {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoProfile {
  margin-right: 3rem;
  font-family: 'Gerhaus';
  display: flex;
  flex-direction: column;
  border: 0.1vw solid #ffbe63;
  border-radius: 0.5rem;
}

.btnRestart,
.btnClose,
.btn-back,
.btn-update-profile,
.btn-add-cocktail,
.btn-create-cocktail {
  border-radius: 0.1rem;
  font-size: 1.2vw;
  background-color: #000000e3;
  padding: 0.5rem;
  color: #fcdaaa;
  font-weight: 400;
  margin: 1vw;
  border: 0.2vw solid #ffbe63;
}

.btn-back p,
.btn-create-cocktail p,
.btn-add-cocktail p,
.btn-update-profile p {
  border-radius: 0.1rem;
  font-family: 'Gatcby One';
  padding: 0.3vw;
  font-size: 2vw;
  border: 0.1vw solid #ffbe63;
}
.btn-back:hover,
.btn-create-cocktail:hover,
.btn-update-profile:hover,
.btn-add-cocktail:hover {
  background-color: #ffbe63be;
  color: #3d2d17;
  border: 0.2vw solid #3d2d17;
}

.btn-back p:hover,
.btn-create-cocktail p:hover,
.btn-update-profile p:hover,
.btn-add-cocktail p:hover {
  border: 0.1vw solid #3d2d17;
}

.line {
  display: flex;
  font-weight: 400;
  margin: auto 0;
}

.titleProf {
  font-weight: 200;
}
.infoProfile div {
  color: aliceblue;
  font-size: 1.5vw;
  padding: 0.8vw;
}

.formUpdateCocktail,
.formAddCocktail {
  display: flex;
  flex-direction: column;
}
.formUpdateCocktail input,
.formAddCocktail input {
  border-radius: 0.2rem;
  font-family: 'Gerhaus';
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1.5px solid #ffbe63;
  background-color: #89653223;
  color: #fcdaaa;
}
.categorySelect {
  font-family: 'Gerhaus';
  border-radius: 0.2rem;
  width: 50%;
  font-size: 1rem;
  background-color: #faddb47c;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1.5px solid #ffbe63;
}

.btn-update-cocktails,
.btn-delete-cocktails {
  border-radius: 0.1rem;
  font-size: 0.7vw;
  background-color: #000000e3;
  padding: 0.5rem;
  color: #fcdaaa;
  font-weight: 400;
  margin: 0.2vw;
  border: 0.15vw solid #ffbe63;
}

.btn-update-cocktails:hover,
.btn-delete-cocktails:hover {
  color: #1b1308;
  background-color: #ffbe63;
  border: 0.15vw solid #3d2d17;
}
.formUpdateCocktail label,
.formAddCocktail label {
  font-size: 1rem;
  color: #fcdaaa;
}

.AddCardCocktail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gradient {
  position: relative;
  padding: 3vw;
  color: white;
  background: linear-gradient(149deg, #fdca823d 0%, #e4b36a79 42%, #ad762d77 72%, #9e6e2b77 100%);
  background-size: 200% 200%;
  animation: gradient 10s infinite linear;
}

.gradient::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-clip: border-box;
  border: 5px solid transparent;
  border-radius: inherit;
  z-index: -1;
  animation: gradient 10s infinite linear;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.ring1 {
  position: absolute;
  width: 60vw;
  height: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.ring1 i {
  --clr: #ffbe63;
}
.ring1 i:nth-child(2) {
  --clr: #ac7933;
}
.ring1 i:nth-child(3) {
  --clr: #896532;
}
.ring1 i {
  position: absolute;
  inset: 0;
  border: 2px solid #eec67d52;
  transition: 0.2s;
}
.ring1 i:nth-child(1) {
  /* border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%; */
  animation: animate 10s linear infinite;
}
.ring1 i:nth-child(2) {
  /* border-radius: 41% 44% 56% 59%/38% 62% 63% 37%; */
  animation: animate 7s linear infinite;
}
.ring1 i:nth-child(3) {
  /* border-radius: 41% 44% 56% 59%/38% 62% 63% 37%; */
  animation: animate2 10s linear infinite;
}
.ring1:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 800px) {
  .prof {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  .infoProfile {
    margin: 0;
  }
}

@media (min-width: 1600px) {
  .prof img {
    width: 25vw;
    margin: 0 3rem;
  }
  .infoProfile div {
    padding: 0.5rem;
  }
}
